PORT=4000
FRONTEND_URL=https://YOUR-NETLIFY-SITE.netlify.app
SHOPIFY_STORE_DOMAIN=edbxvm-tj.myshopify.com
SHOPIFY_WEBHOOK_SECRET=replace_with_webhook_secret
SHOPIFY_PRODUCT_ID=10307224895541
SHOPIFY_VARIANT_ID=50505266757685
